body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
}

h1,
h2 {
  color: #444;
}

.contact-info {
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}
